.icon-add {
    background: #2cc7f7;
    border-radius: 100%;
    color: white;
    right: 0;
    top: 0; 
    margin:10px; 
  }
  
  .icon-remove {
    background: #ff0019;
    border-radius: 100%;
    color: white;
    text-align: right;
  }
  
  .img-producto {
    width: 200px;
    margin: auto;
  }