<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="subtitulo ion-text-wrap">
      Mi pedido
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="m-3">
    <ion-segment mode="ios" (ionChange)="changeSegment($event)" value="nuevos">
      <div value="nuevos">
        <h1 class="ion-text-center">Pedido reciente</h1>
      </div>
    </ion-segment>
  </div>
  <ion-card *ngFor="let pedido of pedidos" class="mt-5 mb-5">
    <ion-item>
      <ion-label class="normal">
        Estado: {{pedido.estado}}
        <p>
          fecha: {{pedido.fecha.seconds | date }}
        </p>
      </ion-label>
    </ion-item>
    <app-itemcarrito *ngFor="let producto of pedido.productos" [productoPedido]="producto" [botones]=false>
    </app-itemcarrito>
  </ion-card>


  <div *ngIf="!nuevos">
    <ion-card *ngFor="let pedido of pedidosEntregados">
      <ion-item>
        <ion-label class="normal">
          Estado: {{pedido.estado}}
          <p>
            fecha: {{pedido.fecha.seconds*1000 | date }}
          </p>
        </ion-label>
      </ion-item>
      <app-itemcarrito *ngFor="let producto of pedido.productos" [productoPedido]="producto" [botones]=false>
      </app-itemcarrito>
    </ion-card>
  </div>
  <ion-button class="normal" (click)="cargarMas()"> Cargar más </ion-button>
</ion-content>